@-ms-viewport{
  width: device-width;
}

.App {
  /* text-align: center; */
  background: rgb(210,55,179);
  background: linear-gradient(247deg, rgba(210,55,179,1) 0%, rgba(55,179,210,1) 100%);
  /* background-image:url('https://ch3302files.storage.live.com/y4mDv9mxi-ca2lEcQ_T2CIJnY03JO4pU-jrSNxkCAlJi89rMVZVYDui8ed0H0SMcOUMskzHm4JYhZmzOKoZaaulkRVN0sUPer1cywka_lD3uvjFUpDxK9OimGnspNvQGlfE2gooty78bCldYSWJwwZSuuhdcGUutKCOtF9Zkb3_tnA?width=768&height=1366&cropmode=none'); */
  height:100vh;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  box-shadow:inset 0 0 2000px white;
}

/* anything greater than mobile */
@media screen and (min-width:775px) {
  .App{
    /* background-image: url('https://images.unsplash.com/photo-1513364776144-60967b0f800f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1351&q=80'); */
    background-position: top center;

    /* background-position: 50% 90%; */
    /* transform: rotate(-90deg); */
  }
}


/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
