@-ms-viewport{
  width: device-width;
}

.App {
  /* text-align: center; */
  background-image:url('https://ch3302files.storage.live.com/y4mDv9mxi-ca2lEcQ_T2CIJnY03JO4pU-jrSNxkCAlJi89rMVZVYDui8ed0H0SMcOUMskzHm4JYhZmzOKoZaaulkRVN0sUPer1cywka_lD3uvjFUpDxK9OimGnspNvQGlfE2gooty78bCldYSWJwwZSuuhdcGUutKCOtF9Zkb3_tnA?width=768&height=1366&cropmode=none');
  height:100vh;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  box-shadow:inset 0 0 2000px white;
}

/* anything greater than mobile */
@media screen and (min-width:775px) {
  .App{
    background-image: url('https://ch3302files.storage.live.com/y4m2Fa01qqjIlWN8aOywEiTstjVfXn7k94s0wxhh9IC9MKQgrx4lMK3AjP6CimVvMvvJE8jKr7SKRbb6Fj4SIRJTuFHukciO5Cg0rZxLJEDEARTPm8zfEX-Y6U-BghJy_fAyhscJoioxIPQQkTZ25A1fPUZiK-lXxFjPX6tqGSSgks?width=1366&height=768&cropmode=none');
    background-position: top center;

    /* background-position: 50% 90%; */
    /* transform: rotate(-90deg); */
  }
}


/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
